@media(max-width: 768px) {
    .featured {
        height: 90vh;
    }

    .featured--name {
        font-size: 36px;
    }

    .featured--info {
        font-size: 14px;
    }

    .featured--description {
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }

    .featured--watch,
    .featured--list {
        font-size: 14px
    }

    .featured--genres {
        font-size: 14px;
    }
}

@media(max-width: 320px) {
    .featured {
        height: 100vh;
    }

    .featured--watch,
    .featured--list {
        font-size: 12px
    }
}